body {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 32px;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

main {
    border-bottom: 1px solid #ccc;
}

footer {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

p {
    font-size: 100%;
    text-align: center;
    /* border-bottom: 1px solid #fff; */
    height: 30px;
}

.name_p {
    font-size: 100%;
    width: 200px;
    height: 100px;
    line-height: 100px;
    padding: 20px;
}

ul {
    padding: 0;
    border-top: 1px solid #000000;
    display: table;
    /* 定義 */
    table-layout: fixed;
    width: 100%;
}

li {
    text-align: center;
    list-style-type: none;
    border: 1px solid #666;
    background-color: #FFF;
    display: table-cell;
    /* 定義 */
    cursor: pointer;
}

li:hover {
    background: #0066CC;
    color: #fff;
}

/* 以下追加コード */
#janken-img {
    text-align: center;
    /* margin: 0 auto; */
    justify-content: center;
}

.single_result{
    text-align: center;
}

/* HPゲージ */
#my_hp {
    margin: 0 auto;
    width: 90%;
    background-color: rgba(200, 199, 201, 0.6);
    display: flex;
    padding: 20px;
    align-items: center;
    height: 40px;
}

#my_bar {
    height: 3px;
    background-color: #4da573;
    transition: 300ms;
}

#my_mark {
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    filter: saturate(500%);
    box-shadow: 0 0 5px 3px rgb(200, 255, 255),
        0 0 7px 7px #4da573;
}

#pc_hp {
    margin: 0 auto;
    width: 90%;
    background-color: rgba(200, 199, 201, 0.6);
    display: flex;
    padding: 20px;
    align-items: center;
    height: 40px;
}

#pc_bar {
    height: 3px;
    background-color: rgb(0, 255, 255);
    transition: 300ms
}

#pc_mark {
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    filter: saturate(500%);
    box-shadow: 0 0 5px 3px rgb(200, 255, 255),
        0 0 7px 7px rgb(100, 255, 255);
}